body {
    margin: 0;
    padding: 0;
}

.app-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    padding: 50px 0;
}

.app-container .print-btn {
    background-color: royalblue;
    color: #fff;
    height: 36px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.info-container {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    width: 1000px;
}

.info-container .left-side-container {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
}

.info-container .left-side-container .name {
    font-size: 36px;
}

.info-container .left-side-container .title {
    font-size: 24px;
    color: #f2511b;
}

.info-container .right-side-container {
    flex: 2;
    border-top: 2px solid #000;
    padding: 20px 0;
}

.info-container .right-side-container .info-line {
    margin-bottom: 10px;
}

.info-container .right-side-container .info-line:last-child {
    margin-bottom: 0;
}

.info-container .right-side-container .row {
    margin-bottom: 30px;
}

.info-container .right-side-container .row:last-child {
    margin-bottom: 0;
}

.info-container .right-side-container .header{
    font-weight: bold;
}
.info-container .right-side-container .dates{
    color: grey;
}
.info-container .right-side-container .reference-line{
    margin-bottom: 5px;
}
.info-container .right-side-container .reference-name{
    font-weight: bold;
}
.info-container .right-side-container .reference-title{
    color: grey;
}

.info-container .right-side-container .chart-list{

}
.info-container .right-side-container .chart-container{
    width: 33%;
    display: inline-block;
}

.right-side-container .chart-container .skil-name{
    text-align: center;
    margin-top: 10px;
}
.right-side-container .chart-container .skil-chart{
    display: flex;
    justify-content: center;
    height: 95px;
}

/*
    CircularProgressbar styles
 */
.CircularProgressbar {
    width: 80px;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #3e98c7;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #3e98c7;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
}



@media print {
    .app-container {
        padding: 0;
    }
    .app-container .print-btn {
        display: none;
    }
    .app-container .info-container {
        width: 100%;
    }
    @page {
        margin: 12.5mm 12.5mm 19.5mm 12.5mm;
    }
}

@media (max-width: 1080px) {
    .info-container {
        width: 80%;
    }
}
